.productdisplay {
  display: flex;
  margin: 0px 170px;
}

.productdisplay-left {
  display: flex;
  gap: 17px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productdisplay-img-list img {
  height: 163px;
}

.productdisplay-main-img {
  width: 586px;
  height: 700px;
}

.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right-sizes div:hover {
  background-color: #1c1c1c;
  color: #fbfbfb;
}

.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #FF4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-category {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}

/* Media queries for responsiveness */

/* Large screens (desktops) */
@media only screen and (max-width: 1200px) {
  .productdisplay {
    margin: 0px 150px;
  }
  .productdisplay-main-img {
    width: 500px;
    height: 500px;
  }
  .productdisplay-right h1 {
   
    font-size: 32px;
    font-weight: 600;
  }
  
  .productdisplay-right-stars {

    align-items: center;
    margin-top: 9px;
    gap: 4px;
    color: #1c1c1c;
    font-size: 12px;
  }
  
  .productdisplay-right-prices {

    margin: 32px 0px;
    gap: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  .productdisplay-img-list img{
    height: 110px;
  }
}

/* Medium screens (laptops) */
@media only screen and (max-width: 992px){
  .productdisplay {
    flex-direction: column;
    margin: 0px 150px;
    overflow-x: hidden;
  }
  .productdisplay {
    margin: 0px 120px;
  }
  .productdisplay-main-img {
    width: 400px;
    height: 580px;
  }
  .productdisplay-right h1 {
   
    font-size: 30px;
    font-weight: 500;
  }
  
  .productdisplay-right-stars {

    align-items: center;
    margin-top: 7px;
    gap: 4px;
    color: #1c1c1c;
    font-size: 11px;
  }
  
  .productdisplay-right-prices {

    margin: 32px 0px;
    gap: 25px;
    font-size: 20px;
    font-weight: 600;
  }
  .productdisplay-img-list img{
    height: 130px;
  }
}



/* Extra small screens (mobiles) */
@media only screen and (max-width: 767px) {
  .productdisplay {
    flex-direction: column;
    margin: 0px 20px;
  }
  .productdisplay-main-img {
    width: 100%;
    height: 400px;
  }
  .productdisplay-right {
    margin: 0px 20px;
  }
  .productdisplay-right h1 {
    font-size: 22px;
  }
  .productdisplay-right-stars {
    margin-top: 8px;
  }
  .productdisplay-right-prices {
    margin: 18px 0px;
  }
  .productdisplay-right-size h1 {
    margin-top: 20;
  }
  .productdisplay-right-sizes {
    flex-wrap: wrap;
  }
  .productdisplay-right-sizes div {
    padding: 10px 16px;
  }
  .productdisplay-right button {
    padding: 15px 30px;
    width: 150px;
  }
}